



<div>
{{!-- Create a table --}}
    <table>

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the data respectively --}}
            {{#each data}}
            <tr>
                <td>{{this.salesID}}</td>
                <td>{{this.salesDate}}</td>
                <td>{{this.salesPrice}}</td>
                <td>{{this.vehiclesID}}</td>
                <td>{{this.customersID}}</td>
                <td>{{this.employeesID}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
    <button onclick="additem()">Add Customer</button>
    <button onclick="edititem()">Edit Customer</button>
</div>
</div>