    {{!-- code is based on the CS 340 starter code--}}

<script src="/js/script.js"></script>


<div>
{{!-- Create a table --}}
<table id="services-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.servicesID}}</td>
            <td>{{this.workOrder}}</td>
            <td>{{this.serviceTime}}</td>
            <td>{{this.serviceTeam}}</td>
            <td>{{this.vehiclesID}}</td>
            <td><button onclick="deleteService({{this.servicesID}})">Delete</button></td>


        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<div id="buttons">
    <button onclick="additem()">Add Service</button>
    <button onclick="edititem()">Edit Service</button>

</div>

<div id="insert">
    {{!-- Form to add a record to the table  --}}
    <h2>Adding a Vehicle</h2>
    <p>To add a new service, please enter their information below and click 'Submit'!</p>
    <form id="add-service-form-ajax">
        <label for="order">Work Order: </label>
        <input type="number" name="order" id="order">
        
        <label for="service">Service Time: </label>
        <input type="text" name="service" id="service">

        <label for="team">Service Team: </label>
        <input type="text" name="team" id="team">




        <label for="v_ID">Vehicle ID: </label>
        <select name="v_ID" id="mySelect">
            
            <option value="test">Select a VehicleID</option>
            {{#each vehiclesID}}
            <option value="{{this.vehiclesID}}">{{this.vehiclesID}} </option>
            {{/each}}
        </select>
        <input type="submit">
    </form>
</div>

<div id="update">
        {{!-- Form to update a record on the table  --}}

    <h2>Updating A Service</h2>
    <p>To update a specific service select thier id.</p>

    <form id='update-service-form-ajax'>

        <label for="input_id">Service ID: </label>
        <select name="input-id" id="inputSelect">
            <option value="test">Select a Service ID:</option>
                {{#each data}}
                <option value="{{this.servicesID}}">{{this.servicesID}} </option>
                {{/each}}
        </select>

        <label for="input-order">Work Order: </label>
        <input type="text" name="input-order" id="input-order">

        <label for="input-service">Service Time: </label>
        <input type="text" name="input-service" id="input-service">

        <label for="input-team">Service Team: </label>
        <input type="text" name="input-team" id="input-team">

        <label for="input_id">Vehicle ID: </label>
        <select name="input-id" id="vehicleSelect">
            <option value="test">Select a Vehicle ID:</option>
                {{#each vehiclesID}}
                <option value="{{this.vehiclesID}}">{{this.vehiclesID}} </option>
                {{/each}}
        </select>



        <input type="submit">

    </form>




</div>



<script src="./js/delete_service.js"></script>

<script src="./js/update_service.js"></script>

<script src="./js/add_service.js"></script>
