    {{!-- code is based on the CS 340 starter code--}}

<script src="./js/delete_vehicle.js"></script>



<h1>Vehicles</h1>
<div>
    <table id="vehicle-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the refernced data --}}
            {{#each data}}
            <tr data-value="{{this.vehiclesID}}">
                <td>{{this.vehiclesID}}</td>
                <td>{{this.make}}</td>
                <td>{{this.model}}</td>
                <td>{{this.year}}</td>
                <td><button onclick="deleteVehicle({{this.vehiclesID}})">Delete</button></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="buttons">
    <button onclick="additem()">Add Vehicle</button>
    <button onclick="edititem()">Edit Vehicle</button>

</div>

<div id="insert">
    {{!-- Form to add a record to the table  --}}
    <h2>Adding a Vehicle</h2>
    <p>To add a new vehicle, please enter their information below and click 'Submit'!</p>
    <form id="add-vehicle-form-ajax">
        <label for="make">Make: </label>
        <input type="text" name="make" id="make">
        
        <label for="model">Model: </label>
        <input type="text" name="model" id="model">

        <label for="year">year: </label>
        <input type="number" name="year" id="year">
        <input type="submit">
    </form>

</div>

<div id="update">
            {{!-- Form to update a record on the table  --}}

    <h2>Updating A Vehicle</h2>
    <p>To update a specific vehicle select thier name on the dropdown box and corrected with the text input box.</p>
    <form id='update-vehicle-form-ajax'>

        <label for="input-fullname">Full name: </label>
        <select name="input-fullname" id="mySelect">
            <option value="test">Select a VehicleID</option>
            {{#each data}}
            <option value="{{this.vehiclesID}}">{{this.vehiclesID}} </option>
            {{/each}}
        </select>

        <label for="input-make">Make: </label>
        <input type="text" name="input-make" id="input-make">

        <label for="input-model">Model: </label>
        <input type="text" name="input-model" id="input-model">

        <label for="input-make">Year: </label>
        <input type="text" name="input-year" id="input-year">
        <input type="submit">

    </form>
</div>

<script src="./js/add_vehicle.js"></script>
<script src="/js/script.js"></script>
<script src="./js/update_vehicle.js"></script>
