{{!-- Create a table --}}



<div>
    <h1>Vehicles</h1>
    <table id="vehicle-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.vehiclesID}}</td>
                <td>{{this.make}}</td>
                <td>{{this.model}}</td>
                <td>{{this.year}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="buttons">
    <button onclick="additem()">Add Vehicle</button>
    <button onclick="deleteitem()">Remove Vehicle</button>

</div>

<div id="insert">
    {{!-- Form to add a record to the table  --}}
    <h2>Adding a Vehicle</h2>
    <p>To add a new vehicle, please enter their information below and click 'Submit'!</p>
    <form id="add-vehicle-form-ajax">
        <label for="make">Make: </label>
        <input type="text" name="make" id="make">
        
        <label for="model">Model: </label>
        <input type="text" name="model" id="model">

        <label for="year">year: </label>
        <input type="number" name="year" id="year">
        <input type="submit">
    </form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
</div>



<script src="./js/add_vehicle.js"></script>

<script src="/js/script.js"></script>
